<robot name="cap_screw">
  <link name="cap_screw">

    <!-- rosrun gazebo_ros spawn_model -file $(rospack find ur5_single_arm_tufts)/urdf/objects/table.urdf -urdf -x 0.5 -y -0 -z 0.75 -model table -->
    
    <inertial>
      <origin xyz="0.23 0 0.755" rpy="0 0 0" />
      <mass value="1"/>
      <inertia
        ixx="0.07" ixy="0.0" ixz="0.0"
        iyy="0.40" iyz="0.0"
        izz="0.33"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="package://ur5_single_arm_tufts/urdf/objects/capscrew2.stl"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <mesh filename="package://ur5_single_arm_tufts/urdf/objects/capscrew2.stl"/>
            <!--  scale = 0.03 -->
      </geometry>
    </collision>

  </link>

  <gazebo reference="cap_screw">
    <material>Gazebo/Blue</material>
  </gazebo> 

  <gazebo>
    <static>true</static>
  </gazebo>

</robot>
